.modal {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    display: none;

    background-color: rgba(0, 0, 0, 0.4);
}

.modal.show {
    display: block;
}

.modal_body {
    position: absolute;
    top: 20%;
    left: 25%;

    width: 1024px;
    height: 576px;

    background-color: white;
}

.modal_left {
    width: 50%;
    float: left;
}

.modal_right {
    width: 50%;
    float: right;

    text-align: center;
}

.modal_img {
    width: 512px;
    height: 576px;
}

.close-popup {
    float: right;
    width: 50px;
    height: 50px;

    background-color: white;
    border: 0;
    cursor: pointer;
}

.close-popup:hover,
.close-popup:focus {
    color: gray;
    text-decoration: none;
}

.close1:after {
    content: "\00d7";
    font-size: 20pt;
    line-height: 50px;
}

.text {
    text-align: left;
    margin-left: 20px;
}

.comment {
    position: absolute;
    display: flex;
    bottom: 0;
}

.delete-btn {
    position: absolute;
    right: 0;
    width: 64px;
    border-radius: 0;
    cursor: pointer;
}
.open-popup{
    cursor: pointer;
}
