<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="../static/style/style.css" />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href = "../static/style/screens/button.css">
    <!-- favicon -->
    <link rel="shortcut icon" href="../static/images/gil.png"/>
   
    <title>Do you know all the Simpson's? We doo!</title>
  </head>
  <body>
    <div class="Center_Box">
      <div class="CB_Header">
        <i class="fa-solid fa-magnifying-glass"></i> Simpson Search Page !
      </div>
      <div class="CB_Main">
        <div class="CBM_Img">
          <img src="../static/images/Simpsons logo.png" id="DropImg" />
          <span id="IfDropInvisible"
            > </span
          >
          
         
          <input
            type="file"
            name="name"
            id="CBMI_Input"
            class="CBMI_Input"
            accept="image/*"
            style="display:none"
          /> 

        </div>
        <p style="font-size:25px; font-weight: 800;"> ⬆ Drop image and Click 'Find Simpson' Button 
          </p>
          
        <div class="CBM_Buttons">
          <button class="CBMB_SearchByImg w-btn w-btn-yellow" id="Search-Image" type="button">
            Find Simpson
          </button>
          <button class="CBMB_SearchByName w-btn w-btn-yellow" type="button" onclick='window.location.href = "/wiki"'>
            Simpson Wiki
          </button>
        </div>
<!--        <images id="Test-Image"/>-->
      </div>
    </div>
  </body>
  <script
    src="https://kit.fontawesome.com/a77969e492.js"
    crossorigin="anonymous"
  ></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script type="module" src="static/scripts/firebase.js"></script>
</html>
