<!DOCTYPE html>
<html lang="en">
<head>

    <!--style 파일 불러오기!-->
    <link href="/static/style/modal.css" rel="stylesheet" type="text/css"/>

    <!--js 파일 불러오기-->
    <script defer src="/static/scripts/modal.js"></script>

    <meta charset="UTF-8">
    <title>modal-test</title>
</head>
<body>
    <div>
        <div>
            <img class="open-popup" style="cursor: pointer;" src="/static/images/modal-test.png">
        </div>
        <div class="modal">
            <div class="modal_body">
                <div class="modal_left">
                    <img class="img" src="/static/images/modal-test.png">
                </div>
                <div class="modal_right">
                    <button class="close-popup close1"></button>
                    <br>
                    <br>
                    <div class="text">
                        <p><b>심슨 이름&nbsp;</b> : 바트 심슨</p>
                        <p><b>심슨 특징&nbsp;</b> : 뾰족머리</p>
                        <p><b>캐릭터 한줄 평</b></p>
                        <li></li>
                    </div>
                    <div class="comment">
                        <input style="width: 440px; height: 40px; border-radius: 0" id="comment-input"
                               placeholder="캐릭터 한줄 평 입력">
                        <button style="cursor: pointer; width: 64px; border-radius: 0" id="submit">게시</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div>
            <img class="open-popup" style="cursor: pointer;" src="/static/images/modal-test.png">
        </div>
        <div class="modal">
            <div class="modal_body">
                <div class="modal_left">
                    <img class="img" src="/static/images/modal-test.png">
                </div>
                <div class="modal_right">
                    <button class="close-popup close1"></button>
                    <br>
                    <br>
                    <div class="text">
                        <p><b>심슨 이름&nbsp;</b> : 바트 심슨</p>
                        <p><b>심슨 특징&nbsp;</b> : 뾰족머리</p>
                        <p><b>캐릭터 한줄 평</b></p>
                        <li></li>
                    </div>
                    <div class="comment">
                        <input style="width: 440px; height: 40px; border-radius: 0" id="comment-input"
                               placeholder="캐릭터 한줄 평 입력">
                        <button style="cursor: pointer; width: 64px; border-radius: 0" id="submit">게시</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>